body {
    background-color: orange;
    text-align: center;
}

p,ul,ol {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li{
    color: blanchedalmond;
    background-color: black;
} 

button{
    text-align: center;
    display: inline-block;

}